:root {
  /* font-size: calc(1rem + 0.25vw); */
  --main-background: #092940d6;
  --light-background: #4e5587;
}

html {
  max-width: 70ch;
  padding: 3em 1em;
  margin: auto;
  background-color: var(--main-background);
}

body {
  min-height: 100%;
  line-height: 1.45;
  text-align: center;
  color: whitesmoke;
  font-family: system-ui;
}

h1,
.fs-h1 {
  font-size: clamp(3rem, 2.7273rem + 1.0909vw, 3.6rem);
}

h2,
.fs-h2 {
  font-size: clamp(2.25rem, 2.0455rem + 0.8182vw, 2.7rem);
}

h3,
.fs-h3 {
  font-size: clamp(1.875rem, 1.7045rem + 0.6818vw, 2.25rem);
}

h4,
.fs-h4 {
  font-size: clamp(1.5rem, 1.3636rem + 0.5455vw, 1.8rem);
}

h5,
.fs-h5 {
  font-size: clamp(1.25rem, 1.1364rem + 0.4545vw, 1.5rem);
}

h6,
.fs-h6 {
  font-size: clamp(1.125rem, 1.0227rem + 0.4091vw, 1.35rem);
}

p,
.fs-p {
  font-size: clamp(0.8333rem, 0.7576rem + 0.303vw, 1rem);
}

nav {
  display: -webkit-box;
  -webkit-box-pack: center;
  justify-content: center;
  height: 3vmin;
  width: 100%;
}

.head {
  -webkit-box-flex: 1;
  flex: 1 1 0;
  -webkit-transition: background-color 5000ms;
  transition: background-color 5000ms;
}

section {
  /* margin-top: 6vh;
  margin-bottom: 2vh; */
}

a,
a:visited {
  text-decoration: none;
  color: whitesmoke;
}

a:hover,
a:focus,
a:active {
  background-color: rgb(59, 105, 105);
}

.link {
  color: whitesmoke;
  cursor: pointer;
  position: relative;
  padding: 2px 2px;
  transition: all 0.5s;
}

.link:after,
.link:before {
  content: " ";
  width: 30%;
  height: 25%;
  position: absolute;
  transition: all 0.5s;
}

.link:before {
  bottom: 1px;
  right: -1px;
  border-bottom: 2px solid #c9fcc9;
  border-right: 2px solid #c9fcc9;
}

.link:hover:before,
.link:hover:after {
  width: 100%;
  height: 100%;
}

ul {
  max-width: 34rem;
  margin: 0;
  padding: 0;
  list-style-type: none;
  line-height: 20px;
  column-count: 2;
  column-rule: inset 2px #c9fcc9;
}

li {
  line-height: 22px;
  border-color: var(--light-background);
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #c9fcc9;
  text-align: center;
}

.avatar {
  color: #c9fcc9;
  animation: blink 2s steps(6, start) 1;
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}

.avatar:hover {
  cursor: none;
  animation: flip 1s 0.1s;
}

@keyframes flip {
  to {
    font-weight: 900;
  }
}