html, body {
  min-height: 100%;
}

body {
  font-size: clamp(12px, 2vw, 16px);
  font-family: 'Courier New';
  line-height: 1.1rem;
  text-align: center;
  margin: 0 auto 0;
  color: #fff;
  background-color: #092940d6;
}
nav {
  display: -webkit-box;
  -webkit-box-pack: center;
  justify-content: center;
  height: 4vmin;
  width: 100%;
  margin-bottom: 8vmin;
}
.head {
  -webkit-box-flex: 1;
  flex: 1 1 0;
  -webkit-transition: background-color 1500ms;
  transition: background-color 1500ms;
}

article {
  margin-top: 6vh;
  margin-bottom: 2vh;
}

footer {
  display: -webkit-box;
  -webkit-box-pack: center;
  justify-content: center;
  height: 4vmin;
  position: fixed;
  bottom: 0;
  left: 0; 
  width: 100%;
}
.foot {
  -webkit-box-flex: 1;
  flex: 1 1 0;
  -webkit-transition: background-color 3000ms;
  transition: background-color 3000ms;
}
a,
a:visited {
  color: #fff;
  border-bottom: 1px dashed #f7f7f7;
  text-decoration: none;
}
a:hover,
a:focus,
a:active {
  color: #01ff70;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  line-height: 15px;
  letter-spacing: 0.01em;
}

li {
  display: inline-block;
  margin-right: 15px;
  padding-left: 5px;
  padding-right: 5px;
  border-left: 1px dotted;
  border-right: 1px dotted;
  border-color: #2bbc8a;
  vertical-align: middle;
}
