:root {
  --my-background: #4e5587;
}

html {
  max-width: 70ch;
  padding: 3em 1em;
  margin: auto;
  background-color: #092940d6;
}

body {
  min-height: 100%;
  line-height: 1.45;
  text-align: center;
  color: whitesmoke;
  font-family: system-ui;
  font-size: clamp(1rem, 1.05rem, 1.1rem);
}

nav {
  display: -webkit-box;
  -webkit-box-pack: center;
  justify-content: center;
  height: 4vmin;
  width: 100%;
}

.head {
  -webkit-box-flex: 1;
  flex: 1 1 0;
  -webkit-transition: background-color 5000ms;
  transition: background-color 5000ms;
}

section {
  margin-top: 8vh;
  margin-bottom: 2vh;
}

a, a:visited {
  color: #fff;
  -webkit-text-decoration: var(--my-background) solid underline;
  text-decoration: var(--my-background) solid underline;
  -webkit-text-decoration-skip: ink;
  text-decoration-skip: ink;
}

a:hover, a:focus, a:active {
  color: var(--my-background);
  background-color: azure;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  line-height: 15px;
  letter-spacing: 0.01em;
}

li {
  display: inline-block;
  margin-right: 15px;
  padding-left: 5px;
  padding-right: 5px;
  border-left: 1px dotted;
  border-right: 1px dotted;
  border-color: var(--my-background);
  vertical-align: middle;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  border: 0;
}

.blink {
  color: #dbf7d4;
  font-size: larger;
  animation: blink 1.5s steps(3, start) 1;
}
@keyframes blink {
  to {
    visibility: hidden;
  }
}

.blink:hover {
  cursor: none;
  animation: flip 0.5s 0.1s;
}
@keyframes flip {
  to {
    font-weight: 900;
  }
}