html, body {
  min-height: 100%;
}

body {
  font-size: clamp(12px, 2vw, 16px);
  font-family: 'Courier New';
  line-height: 1.1rem;
  text-align: center;
  margin: 0 auto 0;
  color: #fff;
  background-color: #092940d6;
}
nav {
  display: -webkit-box;
  -webkit-box-pack: center;
  justify-content: center;
  height: 4vmin;
  width: 100%;
  margin-bottom: 8vmin;
}
.head {
  -webkit-box-flex: 1;
  flex: 1 1 0;
  -webkit-transition: background-color 1500ms ease-out;
  transition: background-color 1500ms ease-out;
}

article {
  margin-top: 6vh;
  margin-bottom: 2vh;
}

footer {
  display: -webkit-box;
  -webkit-box-pack: center;
  justify-content: center;
  height: 4vmin;
  position: fixed;
  bottom: 0;
  left: 0; 
  width: 100%;
}
.foot {
  -webkit-box-flex: 1;
  flex: 1 1 0;
  -webkit-transition: background-color 3000ms ease-in;
  transition: background-color 3000ms ease-in;
}
a,
a:visited {
  color: #fff;
  border-bottom: 1px dashed #f7f7f7;
  text-decoration: none;
}
a:hover,
a:focus,
a:active {
  color: #01ff70;
}

